<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MegaBuild.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<MegaBuild.Properties.Settings>
   <setting name="ExecutableStep_ErrorRegexs" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>\:\s*Error\s</string>
      <string>\:\s*fatal error\s</string>
      <string>\:\sINTERNAL COMPILER ERROR\s</string>
      <string>\:\sCommand line error\s</string>
      <string>^\s*Error\s*\:</string>
      <string>^\s*Failed\s</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ExecutableStep_WarningRegexs" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>\:\s*Warning\s</string>
      <string>\:\s*Command line warning\s</string>
      <string>^\s*Warning\:</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ExecutableStep_KillTimeoutMilliseconds" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="Project_FinishBuildSleepMilliseconds" serializeAs="String">
    <value>1000</value>
   </setting>
  </MegaBuild.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>